<h4><%= link_to post.title, post.url.downcase =~ /^https?:\/\// ? post.url : 'http://' + post.url %></h4>
<hr/>
<p>
  <%= post.description %>
</p>
<hr/>
<p>
  Listed in:
  <% post.categories.each_with_index do |category, index| %>
    <%= ' - ' if index > 0 %>
    <%= link_to category.name, category_path(category) %>
  <% end %>
</p>
