<div class="row">
  <div class="span12 well">
    <div class="post">
      <h4><%= link_to post.title, fix_url(post.url) %></h4>

      <p>
        <%= post.description %>
      </p>

      <p>
        <%= link_to pluralize(post.comments.count, 'comment'), post_path(post) %>
      </p>

      <p>
        <% post.categories.each_with_index do |category, index| %>
          <%= render partial: 'shared/category_link', object: category, as: :category %>
        <% end %>
      </p>
    </div>
  </div>
</div>
